:host {
  --color: hsl(0, 0%, 100%);
  --background: hsl(220, 100%, 60%);
  --background-hover: hsl(220, 100%, 65%);
  --background-active: hsl(220, 100%, 55%);
  --border-color: hsl(220, 100%, 30%);
  --border-width: 1px;
  --border-radius: .15rem;
  --padding: .5rem;

  display: inline-block;
}

button {
  cursor: pointer;
  color: var(--color);
  font-weight: bold;
  padding: var(--padding);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--border-color);
  background: var(--background);
}

button.outline {
  background-color: var(--color);
  color: var(--background);
}

button.clear {
  color: var(--background);
  border: 0;
  background-color:  var(--color);
}

button:hover,
button:active {
  color: var(--color);
  background: var(--background-hover);
}